body, h1, h2, h3, h4, h5, h6, li, ol, u, p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

.string {
	display: flex;
	border-top: 1px solid #565656;
}

.string:first-child {
	border-top: none;
}

.block {
	width: 320px;
	padding: 10px;
	border-right: 1px solid #565656;
}

.block:last-child {
	border-right: none;
}

.table {
	width: max-content;
	border: 2px solid #565656;
}

.flex {
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.-center {
	height: 100%;
	align-items: center;
}

.flex.-smoll {
	display: flex;
	height: auto;
	align-items: end;
}

.content {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 1120px) {
	.flex {
		height: 550px;
	}
}

@media screen and (max-width:902px ){
	.block {
		width: 230px;
	}
}

@media screen and (max-width: 767px ){
	.flex.-center {
		justify-content: flex-start;
		margin-left: 23px;
	}
}

@media screen and (max-width: 464px ){
	.block {
		width: 150px;
	}
}
