.card {
	width: 450px;
	height: 200px;
	background-color: #333333;
	border-radius: 10px;
	margin-bottom: 20px; 
}

.card.-t {
	margin-left: 80px;
}

.card.-c{
	margin-left: 0px;
}

.card.-b {
	margin-left: 130px;
}

.card:last-child {
	margin-bottom: 0px;
}

.width {
	width: 50%;
}