.elips {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 2px solid var(--color-white);
	margin-right: 20px;
}

.elips:last-child {
	margin-top: 55px;
}

.elips.-all {
	margin-top: 30px;
	background-color: var(--color-white);
}

.nav_line.-big {
	height: 145px;
	margin-left: 7px;
}

@media screen and (max-width: 902px ){
	.nav_line.-big {
		height: 130px;
	}

	.elips:last-child {
		margin-top: 40px;
	}
}

@media screen and (max-width: 574px ){
	.nav_line.-big {
		height: 155px;
	}
}