.header {
	height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width:902px) {
	.header__nav {
		display: none;
	}

	.header__nav.-none {
		display: block;
	}
}
