.img.-down {
	margin-top: 5px;
}

.img.-card {
	width: 45%;
}

.avatar {
	background-image: url("../img/small/people1.jpg");
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-right: 20px;
}

.center {
	justify-content: center;
}

@media screen and (max-width: 902px ){
	.img.-card {
		width: 85%;
	}
}

@media screen and (max-width: 464px ){
	.img.-card {
		width: 100%;
	}
}