.img.-down {
	margin-top: 5px;
}

.img.-card {
	width: 45%;
}

.img.-subscribe {
	width: 50%;
	height: 50%;
}

.img.-subscribe2 {
	display: none;
}

.img.-footer {
	width: 100%;
	margin-right: 40px;
}

.img.-footer:last-child {
	margin-right: 0px;
}

.avatar {
	background-image: url("../img/small/people1.jpg");
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-right: 20px;
}

.avatar.-n2 {
	background-image: url("../img/small/people2.jpg");
	background-position-x: 40%;
	background-position-y: 40%;  
}

.avatar.-n3 {
	background-image: url("../img/small/people3.jpg");
}

.center {
	justify-content: center;
}

.logo.-block {		
	display: none;
	margin-bottom: 40px;
}

@media screen and (max-width: 1120px ){
	.img.-footer {
		margin-right: 20px;
	}
}

@media screen and (max-width: 1024px ){
	.img.-footer {
		width: 5%;
	}

	.img.-footer.-smoll {
		width: 2.5%;
	}
}

@media screen and (max-width: 902px ){
	.img.-card {
		width: 85%;
	}
}

@media screen and (max-width: 767px ){
	.img.-subscribe {
		display: none;
	}

	.img.-subscribe2 {
		display: block;
		margin-right: 70px;
	}
}

@media screen and (max-width: 630px ){
	.logo.-none {
		display: none; 
	}

	.logo.-block {
		display: block;
	}
}

@media screen and (max-width: 600px ){
	.img.-subscribe2 {
		margin-right: 20px;
	}
}

@media screen and (max-width: 464px ){
	.img.-card {
		width: 100%;
	}

	.img.-footer {
		width: 10%;
	}

	.img.-footer.-margin.-smoll {
		width: 5%;
	}
}