.img.-down {
	margin-top: 5px;
}

.img.-card {
	width: 45%;
}

.center {
	justify-content: center;
}

@media screen and (max-width: 902px ){
	.img.-card {
		width: 85%;
	}
}

@media screen and (max-width: 464px ){
	.img.-card {
		width: 100%;
	}
}