.header__nav {
	color: var(--color-white);
	margin-right: 30px;
	font-size: 18px;
}

.header__nav.-margin {
	margin-right: 40px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav.-block {
	display: none;
}

.nav.-block.-none {
	display: none;
}

.nav_line {
	background-color: var(--color-white);
	width: 2px;
	height: 35px;
	margin-right: 5px;
}

.nav_line.-big {
	height: 168px;
	margin-left: 7px;
}

.nav_icon {
	margin-right: 10px;
}

@media screen and (max-width: 1024px ){
	.nav.-img {
		display: none;
	}

	.nav.-gop {
		display: flex;
	}

	.nav.-flex {
		justify-content: space-between;
	}

	.nav.-block {
		display: flex;
		justify-content: flex-end;
	}

	.header__nav.-margin:last-child {
		margin-right: 0px;
	}

	.header__nav.-margin {
		margin-right: 20px;
		font-size: 14px;
	}

}

@media screen and (max-width: 630px) {
	.header__nav.-margin.-none.-block {
		display: none;
	}

	.header__nav.-margin {
		margin-right: 30px;
		margin-bottom: 20px;
	}

	.header__nav.-margin.-none.-right {
		margin-right: 0px;
	}

	.nav.-block.-none {
		display: flex;
		justify-content: center;
	}

	.nav.-block {
		display: flex;
		justify-content: space-around;	
	}
	
	.nav.-flex {
		justify-content: center;
	}
}

@media screen and (max-width: 574px){
	.nav_icon {
		display: none;
	}
}