.section {
	background-repeat: no-repeat;
	background-size: cover;
	height: 960px;
}

.section.-header {
    height: 960px;
	background-image: url("../img/header.png");
	background-size: cover;
}

.section.-about {
	background-image: url("../img/about.jpg");
}

.section.-features{
	background-image: url("../img/features.png");	
	padding-top: 100px;
	right: 0;
}

.section.-table {
	background-image: url("../img/table.png");
	padding-top: 130px;
	background-position-x: -10%; 
}

.section.-quotes {
	background-image: url("../img/quotes.png");
}

@media screen and (max-width: 767px ){
	.section.-header {
    	height: 700px;
	}
}

@media screen and (max-width: 1120px ) {
	.section.-table {
		background-position-x: 10%; 
	}

	.section.-about {
		height: 100%;
	}

	.section.-features {
		background-position-x: 50%; 
	}
}

@media screen and (max-width: 902px ){
	.section.-table {
		background-position-x: 30%; 
	}
}

@media screen and (max-width: 767px ) {
	.section.-features {
		background-position-x: 40%; 
	}

	.section.-table {
		background-position-x: 45%; 
	}
}

@media screen and (max-width: 574px ) {
	.section.-features {
		background-image: url(../img/features-smoll.png);
		height: 650px;
	}

	.section.-table {
		background-position-x: 45%; 
	}
}

@media screen and (max-width: 464px ){
	.section.-table {
		background-image: url("../img/table2.png"); 
	}
}