.section {
	background-repeat: no-repeat;
	background-size: cover;
	height: 960px;
}

.section.-header {
    height: 960px;
	background-image: url("../img/header.png");
	background-size: cover;
}

.section.-about {
	background-image: url("../img/about.jpg");
}

@media screen and (max-width: 767px ){
	    .section.-header {
	    	height: 700px;
	    }
}

@media screen and (max-width: 1120px ) {
	.section.-about {
		height: 100%;
	}
}