.text {
	font-size: 17px;
	color: var(--color-white);
}

.text.-small {
	width: 350px;
	margin-bottom: 20px;
}

.text.-all {
	width: 400px;
	margin-bottom: 20px;
}

.text.-gray {
	color: #8f8f8f;
	margin-top: 15px;
}

.text.-gray.-none {
	margin-top: 0px;
}

.text.-gray.-center {
	text-align: center;
	margin-bottom: 5px;
}

.text.-top {
	margin-top: 25px;
}

.text.-width {
	width: 250px;
	text-align: left ;
}

.text.-gray.-margin {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: start;
}

.text.-oreng {
	color: var(--color-orenge);
	font-size: 18px;
	text-align: start;
}

.text.-small.-margin.-right {
	text-align: left;	
	margin-right: 120px;
	margin-left: 0px;
}

.text.-margin {
	margin-bottom: 50px;
}

@media screen and (max-width: 1120px ){
	.text.-top {
		margin-top: 0px;
	}
}

@media screen and (max-width: 902px ){

	.text.-small {
		width: auto;
		margin-right: 70px;
		margin-left: 70px;
	}

	.text.-top {
		text-align: left;
	}

	.text.-gray {
		text-align: left;
	}

	.text.-gray.-center {
		text-align: center;
	}

	.text.-small.-width {
		margin-left: 0px;
		margin-right: 0px;
		width: 300px;
	}
}

@media screen and (max-width: 574px ){
	.text.-small.-width {
		width: 250px;
	}
}

@media screen and (max-width: 550px ){
	.text.-small.-margin.-right {
		margin-right: 0px;
	}
}

@media screen and (max-width: 464px) {
	.text.-small.-margin.-right {
		margin-right: 0px;
	}

	.text.-small.-width {
		width: 177px;
	}

	.text.-all {
		width: 250px;
	}

	.text.-small {
		text-align: left;
		margin-right: 0px;
		margin-left: 0px;
	}
}