.title {
	font-family: Bebas Neue;
	color: var(--color-white);
	font-size: 100px;
	letter-spacing: 0.1em;
}

.title.-center {
	text-align: center;
	margin-bottom: 50px; 
}

.title.-margin {
	margin-bottom: 40px;
}

.title.-margin.-right {
	text-align: left;
}

.line {
	height: 3px;
	width: 500px;
	background-color: var(--color-white); 
	margin-bottom: 20px;
}

.scroll {
	margin-top: 119px;
	text-align: center;
	color: var(--color-white);
	font-size: 13px;
}

.subtitle {
	font-family: Bebas Neue;
	color: var(--color-white);
	font-size: 30px;
	margin-bottom: 40px;
	letter-spacing: 0.1em; 
}

.subtitle.-center {
	text-align: center;
	margin-bottom: 0px;
}

.subtitle.-margin {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 25px;
}

.subtitle.-margin.-right {
	text-align: left;
}

.subtitle.-margin.-orenge {
	color: var(--color-orenge);
	font-size: 33px;
	margin-bottom: 30px;
}

.subtitle.-margin.-orenge.-none {
	margin: 0px;
	margin-bottom: 15px;
}

.subtitle.-margin.-orenge.-none.-block {
	margin-bottom: 0px;
	font-size: 27px;
}

.text {
	font-size: 17px;
	color: var(--color-white);
}

.text.-small {
	width: 350px;
	margin-bottom: 20px;
}

.text.-all {
	width: 400px;
	margin-bottom: 20px;
}

.text.-gray {
	color: #8f8f8f;
	margin-top: 15px;
}

.text.-gray.-none {
	margin-top: 0px;
}

.text.-top {
	margin-top: 25px;
}

.text.-width {
	width: 250px;
	text-align: left ;
}

.text.-small.-margin.-right {
	text-align: left;	
	margin-right: 120px;
	margin-left: 0px;
}

.text.-margin {
	margin-bottom: 50px;
}

.info {
	text-align: center;
}

@media screen and (max-width: 1400px ){
	.scroll {
		margin-top: 100px;
	}
}

@media screen and (max-width: 1120px ){
	.scroll {
		margin-top: 240px;
	}

	.title.-small {
		font-size: 71px;
	}
	.line {
		width: 350px;
	}

	.text.-top {
		margin-top: 0px;
	}
}

@media screen and (max-width: 902px ){
	.title.-small {
		font-size: 60px;
	}

	.text.-small {
		width: auto;
		margin-right: 70px;
		margin-left: 70px;
	}

	.text.-top {
		text-align: left;
	}

	.text.-gray {
		text-align: left;
	}

	.subtitle.-margin.-orenge {
		font-size: 24px;
	}

	.text.-small.-width {
		margin-left: 0px;
		margin-right: 0px;
		width: 300px;
	}

	.line {
		width: 100%;
	}
}

@media screen and (max-width:767px ){
	.title {
	    font-size: 53px;
	    letter-spacing: 0.06em;
	}

	.subtitle {
		font-size: 20px;
		margin-left: 140px;
    	margin-right: 140px;
    	margin-bottom: 15px;
	}

	.subtitle.-margin {
		margin-left: 0px;
		margin-right: 0px;
	}

	.scroll {
		margin-top: 0px;
		text-align: left;
	}
}

@media screen and (max-width: 574px ){
	.subtitle {
		margin-right: 90px;
		margin-left: 90px;
	}

	.text.-small.-width {
		width: 250px;
	}
}

@media screen and (max-width: 464px) {
	.title.-small {
		text-align: left;
		font-size: 57px;
	}

	.subtitle {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.subtitle.-margin {
		text-align: left;
	}

	.subtitle.-margin.-orenge {
		font-size: 16px;
	}

	.subtitle.-margin.-orenge.-none.-block {
		font-size: 20px;
	}

	.text.-small.-margin.-right {
		margin-right: 0px;
	}

	.text.-small.-width {
		width: 177px;
	}

	.text.-all {
		width: 250px;
	}
	
	.title {
		font-size: 38px;
	}

	.text.-small {
		text-align: left;
		margin-right: 0px;
		margin-left: 0px;
	}
}